<div class="container">
    <div class="row">

        <div class="col-6">
            <app-form-gato #form1 *ngIf="crearGato" (cancel)="cancelarAccion()" (getFavoritos)="getMisFavoritos()" [accion]="accion" [urlImagen]="urlImagen"></app-form-gato>
        </div>
        <div class="col-6">
            <app-favoritos *ngIf="misFavoritos" (img)=cargarImagen($event);></app-favoritos>
        </div>

    </div>
</div>



<div class="container" *ngIf="listaDB">


    <h1>Gatos de mi DB </h1>

    <div class="row row-cols-1 row-cols-md-5 m-1">
        <button (click)="nuevoRegistro()" type="button" class="btn btn-danger" style="float: left" data-dismiss="modal">CREAR REGISTRO</button>
    </div>

    <hr />

    <div class="row row-cols-1 row-cols-md-5">

        <div class="col mb-3" *ngFor="let gato of gatos">

            <div class="card">
                <img src="{{ gato.Foto }}" style="height: 250px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ gato.Nombre }}</h5>

                    <li>Raza: {{ gato.Raza }}</li>
                    <li>Edad: {{ gato.Edad }}</li>

                    <a href="javascript:void(0);" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-primary" (click)="editarGato(gato);">Editar</a> || <a href="javascript:void(0);" (click)="eliminarGato(gato)" class="btn btn-danger">Borrar</a>
                </div>
            </div>

        </div>

    </div>




</div>






<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Actualizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-form-gato [urlImagen]="urlImagen" [idData]="idDatos"></app-form-gato>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>